:root {
  font-size: 62.5%;
}

body {
  font-size: 1.9rem;
  background-color: rgb(237, 246, 247);
}

body > * {
  margin-bottom: 20px;
}

.btn, .btn-ballon {
  border: solid 3px rgb(1, 28, 55);
  background: rgba(1, 28, 55, 0);
  color: rgb(1, 28, 55);
  cursor: pointer;
  padding: 10px;
  border-radius: 10rem;
  transform: scale(1);
  transition: transform 150ms, background 100ms 50ms;
}
.btn:hover, .btn-ballon:hover {
  transform: scale(1.1);
  background: rgb(1, 28, 55);
  color: #15dea5;
}

.form__group input {
  border: 2px solid #fff;
  border-radius: 100rem;
  color: #6300a0;
  font-family: "Montserrat", sans-serif;
  outline: none;
  padding: 0.5rem 1.5rem;
  width: 100%;
  transition: background-color 200ms;
}
.form__group input:focus {
  border: 2px solid #6300a0;
}
.form__group input:not(:focus):invalid {
  background: #b20a37;
  border: 2px solid #b20a37;
  color: #fff;
}

.btn-ballon:active + .ball {
  transform: scale(1);
}

.ball {
  width: 100px;
  height: 100px;
  background: rgb(1, 28, 55);
  border-radius: 50px;
  transform: scale(0.1);
  transition: transform 4000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
